body{
    margin: 0px;
    background-color: antiquewhite;
}
.inner{
    background-color: orange;
    width:100px;
    height: 100px;
     
}
.outer{
    
    background-color: pink;
    width: 50px;
    height: 50px;
    transform: translate(25px, 25px);
    
}
.facebook{
    border-radius: 50%;
    background-color: blue;
    display: inline-block;
    border: 1px solid white;
    
    color: white;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 48px;
    transition: all 0.5s linear 0.1s;
    
}
a:hover{
    color: blue;
    background-color: white;
}

.grad1 {
    height: 55px;
    background: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); /* Standard syntax (must be last) */
}
ul {
    list-style-type:none;
}
ul li::before{
    content:"\f2c3";
    font-family: FontAwesome;
}
input::placeholder{
    color: red;
}
.link[href$="doc"], .link[href$=docx]{
    color: red;
}   
html[lang="en"] q::before, html[lang="en"] q::after{
    content:"*";
}
footer{
    position: fixed;
    top:95%;
    color:  antiquewhite;
}
img{
    height:20vh;
}
img:hover{
    height:30vh;
}
.hearth{
    font-size: 48px;
    font-family: Verdana; 
}
.fa-heart{
    color: red;
    animation-name: resize;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes resize{
    0%,100%{
        transform:scale(1);
    }
    100%{
        transform:scale(1.5);
    }
}
.container {
    width:100%;
    height: 100vh;
    background-color: aqua;
    
}
.curtain {
    position: absolute;
    width: 100%;
    height: 50vh;
    animation-duration: 2s;
    animation-iteration-count: 1s;
}
.top {
    background-color: red;
    animation-name:top-down;
    bottom:50vh;
    
}
.bottom{
    background-color: fuchsia;
    animation-name: bottom-up;
    top:50vh;
}
@keyframes bottom-up{
    0%{
        top:100vh;
    }
    100%{
        top:50vh;
    }
}
@keyframes bottom-up{
    0%{
        top:100vh;
    }
    100%{
        top:50vh;
    }
}
@keyframes top-down{
    0%{
        bottom:100vh;
    }
    100%{
        bottom:50vh;
    }
}
      
.content-section{
    background-color: beige;
    overflow: hidden;
    padding: 100px;
}
.parallax{
    height: 300px;
    background-color: red;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#parallax-first{
    background-image: url(http://i.iplsc.com/zdj-ilustracyjne/0006DVXSTLL51M5U-C122-F4.jpg);
}
#parallax-second{
    background-image: url(http://i.iplsc.com/zdj-ilustracyjne/0006DVXSTLL51M5U-C122-F4.jpg);
}
.box{
    height: 300px;
    width: 300px;
    position: relative;
    display: inline-block;
    margin:20px;
}
.box-in{
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
}
.box-front{
    background: orange;
    z-index: 1;
    backface-visibility: hidden;
}
.box-back{
    background-color:blue;
    transform: rotateY(180deg);
}
.box:hover .box-front{
    transform:rotateY(180deg);
    
}
.box:hover .box-back{
    transform:rotateY(0deg);
    
}